<!-- 
作者: Ning
文件名: FrameCreate.html
描述: 视频拖拽上传页面。
版本: 1.0.0
最后修改日期: 2024-01-19
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./MainFrame.css" />
    <link
      rel="stylesheet"
      href="./googleapis.css"
    />
  </head>
  <body>
    <div class="main-frame">
      <section class="inner-frame1">
        <header class="create-button1">
          <h1 class="create2">创作 / Create</h1>
          <div class="x-close2">
            <img
              class="icon19"
              loading="eager"
              alt=""
              src="./public/icon.svg"
            />
          </div>
        </header>
        <div class="drop">
          <img class="upload-cloud-01-icon" loading="eager" alt="" src="./public/uploadcloud01@2x.png"/>

          <div class="div25">将文件拖放到该区域或者点击选择</div>
        </div>
      </section>
      <div class="help-and-q-a-btn-wrapper">
        <div class="help-and-q-a-btn">
          <button class="btn-help">
            <img
              class="help-square-icon"
              alt=""
              src="./public/helpsquare.svg"
            />

            <div class="div26">帮助</div>
          </button>
          <button class="btn-qa">
            <img
              class="help-circle-icon2"
              alt=""
              src="./public/helpcircle1.svg"
            />

            <div class="div27">常见问题</div>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
